.faSQzH {
    height: 100%;
    position: relative;
    width: 100%;
    display: flex !important;
    flex: 1 1 440px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 440px;
    outline: 0px;
    overflow: hidden;
}