<div class='sidebar' data-color='purple' data-background-color='white'>
  <div class='logo'>
    <a href='' class='simple-text logo-normal'>
      Drilling Data
    </a>
  </div>

  <div class='sidebar-wrapper'>
    <ul class='nav'>
      <li>
        <a href='./dashboard.html'>
          <p  style="font-weight: bold">REAL-TIME ANALYTICS</p>
        </a>
      </li>
      <li>
        <a href='./icons.html'>
          <p style="font-weight: bold">ML PREDICTIONS</p>
        </a>
      </li>
      <li>
        <a href='./map.html'>
          <p style="font-weight: bold">DATA LOGS</p>
        </a>
      </li>
      <li>
        <a href='./notifications.html'>
          <p style="font-weight: bold">ALERTS</p>
        </a>
      </li>
      <li>
        <a href='./user.html'>
          <i class='tim-icons icon-single-02'></i>
          <p style="font-weight: bold">MUD CALC</p>
        </a>
      </li>
      <li>
        <a href='./tables.html'>
          <i class='tim-icons icon-puzzle-10'></i>
          <p style="font-weight: bold">HYDRAULICS CALC</p>
        </a>
      </li>
      <li>
        <a href='./typography.html'>
          <i class='tim-icons icon-align-center'></i>
          <p style="font-weight: bold">TRAJECTORY CALC</p>
        </a>
      </li>
      <li>
        <a href='./rtl.html'>
          <i class='tim-icons icon-world'></i>
          <p style="font-weight: bold">TORQUE & DRAG</p>
        </a>
      </li>
      <li class='active-pro'>
        <a href='./upgrade.html'>
          <i class='tim-icons icon-spaceship'></i>
          <p style="font-weight: bold">LAUNCH DIGITAL TWIN</p>
        </a>
      </li>
      <li class='active-pro'>
        <a href='./upgrade.html'>
          <i class='tim-icons icon-spaceship'></i>
          <p style="font-weight: bold">SUPPORT</p>
        </a>
      </li>

    </ul>
  </div>
</div>