<!-- <div class='col-12'>
    <div class='card card-chart'>
        <div class='card-header'>
            <h5 class='card-category'>SSLIPDX</h5>
            <h3 class='card-title'>
                <i class='tim-icons icon-delivery-fast text-info'></i>
            </h3>
        </div>
        <div class='card-body'>
            <div class='chart-area'>
                <div class='chartjs-size-monitor' style='position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; 
                        overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;'>
                    <div class='chartjs-size-monitor-expand' style='position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;
                            pointer-events:none;visibility:hidden;z-index:-1;'>
                        <div style='position:absolute;width:1000000px;height:1000000px;left:0;top:0'></div>
                    </div>
                    <div class='chartjs-size-monitor-shrink' style='position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;
                            pointer-events:none;visibility:hidden;z-index:-1;'>
                        <div style='position:absolute;width:200%;height:200%;left:0; top:0'></div>
                    </div>
                </div>
                <canvas #chart id='sslipdaxCountChart' width='776' height='440' class='chartjs-render-monitor' style='display: block; height: 350px; width: 388px;'></canvas>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="col-lg-4"> -->
    <div class="card card-chart">
        <div class="card-body">
            <div class="chart-area">
                <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                    </div>
                </div>
                <canvas id="sslipdaxCountChart" width="520" height="440" class="chartjs-render-monitor" style="display: block; height: 220px; width: 260px;"></canvas>
            </div>
        </div>
    </div>
<!-- </div> -->