<ng-template [ngIf]="latestDrillingData != null">
  <div class="container">
    <div class="col-md-2 col-xs-4 col-sm-4">
      <div class="card card-chart">
        <p style="text-align: center; font-weight: bold; font-size:1.5vw;" class="card-title">WOBAX</p>
        <p class="card-title" style="text-align: center;font-weight: bold; font-size:1.5vw;">
          {{latestDrillingData.wobax}}
        </p>
        <p class="card-title" style="text-align: center;font-weight: bold; font-size:1vw;">
          (lbf)
        </p>
      </div>
    </div>
    <div class="col-md-2 col-xs-4 col-sm-6">
      <div class="card card-chart">
        <p style="text-align: center;font-weight: bold; font-size:1.5vw;">RPMAX</p>
        <p class="card-title" style="text-align: center;font-weight: bold; font-size:1.5vw;; ">
          {{latestDrillingData.rpmax}}
        </p>
        <p class="card-title" style="text-align: center;font-weight: bold; font-size:1vw;; font-weight: bold">
          (rpm)
        </p>
      </div>
    </div>
    <div class="col-md-2 col-xs-4 col-sm-6">
      <div class="card card-chart">
        <p style="text-align: center;font-weight: bold; font-size:1.5vw;">ROP</p>
        <p class="card-title" style="text-align: center;font-weight: bold; font-size:1.5vw;">
          {{latestDrillingData.rpmax}}
        </p>
        <p class="card-title" style="text-align: center;font-weight: bold; font-size:1vw;">
          (ft/hr)
        </p>
      </div>
    </div>
    <div class="col-md-2 col-xs-4 col-sm-6">
      <div class="card card-chart">
        <p style="text-align: center;font-weight: bold; font-size:1.5vw;">MSE</p>
        <p class="card-title" style="text-align: center;font-weight: bold; font-size:1.5vw;">
          {{latestDrillingData.copMse}}
        </p>
        <p class="card-title" style="text-align: center;font-weight: bold; font-size:1vw;">
          (%)
        </p>
      </div>
    </div>
    <div class="col-md-2 col-xs-4 col-sm-6">
      <div class="card card-chart">
        <p style="text-align: center;font-weight: bold; font-size:1.5vw;">TORAX</p>
        <p class="card-title" style="text-align: center;font-weight: bold; font-size:1.5vw;">
          {{latestDrillingData.torax}}
        </p>
        <p class="card-title" style="text-align: center;font-weight: bold; font-size:1vw;">
          (lbf-in)
        </p>
      </div>
    </div>
  </div>
</ng-template>