<div class="card card-chart">
    <div class="card-body">
            <canvas id="donutChart1" width="520" height="250" class="chartjs-render-monitor" style="display: block; height: 125px; width: 260px;"></canvas>
        </div>
</div>