<video width="100%"  controls>
  <source src="https://poc-drilling.s3.us-east-2.amazonaws.com/HDrillingTrainer+1abr9000x265.mp4" type="video/mp4">
  <source src="https://poc-drilling.s3.us-east-2.amazonaws.com/HDrillingTrainer-1abr9000x265.webm" type="video/webm">
	  Your browser does not support HTML video.
</video>
