
<nav class='navbar navbar-expand-lg navbar-absolute navbar-transparent'>
    <div class='container-fluid'>
      <div class='navbar-wrapper'>
        <a class='navbar-brand' href='javascript:void(0)'><h5>{{ time | date: 'MM-dd-yyyy hh:mm:ss a' }}</h5></a>
      </div>
      <div class='collapse navbar-collapse' id='navigation'>
          <img src='../../assets/img/logoResized.png' alt='logo' style='float: right;' width='15%'>
      </div>
    </div>
  </nav>